html {
  box-sizing: border-box;
}

#app {
  text-align: center;
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 80px 1fr 2fr 3fr;
}

#header {
  grid-column: 1/3;
  grid-row: 1;
  border: 1px solid black;
}

#regex {
  grid-column: 1;
  grid-row: 2;
  border: 1px solid black;
}

#text {
  grid-column: 1;
  grid-row: 3;
  border: 1px solid black;
}

#graph {
  grid-column: 1;
  grid-row: 4;
  border: 1px solid black;
}

#info {
  grid-column: 2;
  grid-row: 2/4;
  border: 1px solid black;
}

#warn {
  grid-column: 2;
  grid-row: 4/5;
  border: 1px solid black;
}

#run {
  grid-column: 2;
  grid-row: 4/5;
  border: 1px solid black;
}
