#header {
  transition: color 300ms, background-color 300ms;
  color: var(--colors-primary);
  background-color: var(--colors-bg);
  border-color: #181818;
  border-style: solid;
  border-width: 1px 0 1px 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
#header > div {
  display: flex;
  justify-content: stretch;
  align-items: center;
  padding: 0 20px;
}
#header .logo {
  font-family: "Fira mono";
  font-size: 36px;
}
#header .search {
  flex: 1;
}
#header .link {
  font-family: sans-serif;
  font-size: 24px;
}
#header .avatar div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: teal;
  font-size: 26px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 0;
}
#header .theme-toggle .icon {
  font-size: 34px;
}
